@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './base.css';
@import 'tailwindcss/utilities'; */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  letter-spacing: 3px;
}

body {
  color: #000000;
  background: #ffffff;
}

.input {
  outline: none;
  background: none;
}

.product {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.product a {
  position: absolute;
  bottom: -70px;
  /* margin-bottom: 200; */
  background-color: #ffffff;
  width: 70%;
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
}

.product:hover >  a {
  bottom: 30px;
}

.second_image {
  display: none;
}

.product:hover > .first_image {
  display: none;
}

.product:hover > .second_image {
  display: block;
}

.insta {
  display: none;
  transition: all 1s;
}

.social:hover > .insta {
  display: flex;
}

.transitioncss {
  transition: all 1s;
}

.flexspace {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.flexspace 
  > * {
  flex: 0 0 calc(25% - 1em);
  margin: 1em 0 0 0;
}
.flexspace  > :not(:nth-child(4n+4)) {
  margin-right: 1.333333em;
}