@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './base.css';
@import 'tailwindcss/utilities'; */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
* {
  letter-spacing: 3px;
} */

body {
  color: #000000;
  background: #ffffff;
}

.input {
  outline: none;
  background: none;
}

input::placeholder {
  color: #908B8B;
  /* opacity: 1;  */
}

.email-i::placeholder {
  font-size: 14px;
}

input::-ms-input-placeholder {
  color: red;
}


.product {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.conn {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.conn button {
  position: absolute;
  bottom: -70px;
  /* margin-bottom: 200; */
  background-color: #ffffff;
  width: 70%;
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
}

.conn:hover > button {
  bottom: 30px;
}

.second_image {
  display: none;
}

/* .product:hover > .first_image {
  display: none;
}

.product:hover > .second_image {
  display: block;
} */
@media (max-width: 1023px) {
  .product:hover > .first_image {
    display: block;
  }
  
  .product:hover > .second_image {
    display: none;
  }
}

.insta {
  display: none;
  transition: all 1s;
}

.social:hover > .insta {
  display: flex;
}

.transitioncss {
  transition: all 1s;
}

.flexspace {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.flexspace 
  > * {
    width: calc(25% - 10px); 
    box-sizing: border-box;
}

.shopFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.shopFlex
> * {
  width: calc(25% - 10px);
  box-sizing: border-box;
}


@media (max-width: 640px) {
  /* .shopFlex {
    justify-content: space-between;
  } */
  .shopFlex 
  > * {
    width: calc(50% - 5px);
  }
}

.shop_conn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.shop {
  display: flex;
  justify-content: center;
 /* flex-direction: column; */
}

.shop img{
  object-fit: cover;
}

.shop .shop_image2{
  display: none;
} 

.shop:hover > .shop_image1 {
  display: none;
}

.shop:hover > .shop_image2 {
  display: block;
}



.shop_conn button {
  position: absolute;
  bottom: -70px;
  margin-bottom: 200;
  background-color: #ffffff;
  width: 70%;
  text-align: center;
  padding: 15px 0px;
  font-size: 20px;
  transition: all ease-in-out 0.5s;
  z-index: 100;
}

.shop_conn:hover > button {
  bottom: 30px;
} 


/* for select */
select {
  appearance: none; 
  /* padding: 0.5rem;  */
  /* font-size: 1rem;  */
  /* border: 1px solid #ccc; */
  background-color: #fff; 
  height: 2.5rem; 
  outline: none; 
  font-size: 14px;
}

/* Set the styles for the options */
select option {
  background-color: #fff; 
  transition: background-color 0.3s; 
  font-size: 14px;
}


select option:hover {
  background-color: #f0f8ff; 
}